body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

div#root {
  height: 100%;
}

.error-box {
  background: #f7f7f7;
  color: red;
  padding: 15px 15px 15px 30px;
  margin: 0;
  width: 100%;
  font-weight: bold;
}

.configuration-block {
  padding: 15px;
}

.top-menu {

}

.react-tabs {
  width: 100%;
}

.ReactCodeMirror, .CodeMirror {
  height: 100%;
  width: 100%;
}

.react-layout-components--box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
