*{
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #efefef;
}

a:hover{
  text-decoration: none;
}

input[type="text"].classname-error {
  color: #cc0000;
  border-bottom: 1px solid #cc0000;
}

input[type="text"]{
  background-color: transparent;
  border: 0;
  font-size: 1.2em;
  color: #474747;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding: 2px 2px 1px;
  line-height: 26px;
  height: 30px;
  padding-bottom: 1px;
  outline: none;
  transition: border-color .25s ease-out;
}

input[type="text"]:focus{
  border-color: rgb(16,100,200);
  border-bottom-width: 2px;
  padding-bottom: 0;
}



#root {
  height: 100%;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.flex-grow{
  flex-grow: 1;
}

.flex-50{
  max-width: 50%;
}

.top-menu {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  text-align: right;
}

.top-menu a{
  color: #d8d8d8;
  margin: 0 1rem;
  text-decoration: none;
  transition: color .25s ease-out;
}

.top-menu a:hover{
  color: rgb(95, 168, 255);
}

.top-menu a .fa{
  margin-right: .5rem;
}

.error-box {
  background: #f7f7f7;
  color: red;
  padding: 15px 15px 15px 30px;
  margin: 0;
  width: 100%;
  font-weight: bold;
}

.error-box.warning-mode {
  background: #F2F2C5;
}

.configuration-block {
  padding: 1rem;
}

.class-name-configurator {

}

.keyword {
  display: inline-block;;
  margin: 0 10px 0 0;
  color: #7f7fff;
}

.func-name {
  display: inline-block;;
  margin: 0 10px 0 0;
  color: #a12b2d;
  font-weight: bold;
}

.symbol {
  display: inline-block;;
  margin: 0 10px 0 0;
  color: #000;
}

.arguments {
  display: inline-block;;
  margin: 0 10px 0 0;
  color: #7f7fff;
}

.arrow {
  display: inline-block;;
  margin: 0 10px 0 0;
  color: #000;
}


.CodeMirror-scroll{
  margin: 0;
  padding: 0 1rem 1rem 0;
  border: 1px solid #ddd;
}

.ReactCodeMirror{
  padding: 0 .5rem 1rem;
  width: 100%;
  display: flex;
}

.CodeMirror{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  transition: box-shadow .25s ease-in-out;
  height: auto;
  width: 100%;
}

.CodeMirror-focused{
  outline: 1px solid rgb(95, 168, 255);;
}

.ReactCodeMirror, .CodeMirror {

}

.react-layout-components--box {

}

.responsive-row {
  padding: 0 .5rem;
}

.react-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 .5rem 1rem;
  align-items: flex-start;
}

.react-tabs__tab-list{
  margin-bottom: 0;
  margin-top: 5px;
  border-bottom: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  background-color: #fff;
  position: relative;
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4;
}

.react-tabs__tab{
  border: 0;
  transition: color .25s ease-out;
  background-color: #fff;
  position: relative;
  height: 48px;
  padding: 12px 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}

.react-tabs__tab:focus{
  box-shadow: none;
  border: 0;
  color: rgb(95, 168, 255);
}

.react-tabs__tab:after, .react-tabs__tab:focus:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.react-tabs__tab--selected:after{
  background-color: rgb(95, 168, 255);
}

.react-tabs__tab:not(.react-tabs__tab--selected):hover{
  color: rgb(95, 168, 255);
}

.react-tabs__tab-panel{
  flex-grow: 1;
  position: relative;
  width: 100%;
  border-top: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.hljs{
  margin: 0;
  padding: 1rem;
}

@media screen and (max-width : 768px)  {
  .responsive-row {
    flex-direction: column;
  }
  .flex-50{
    max-width: none;
  }
  .props-editor{
    padding-top: 15px;
  }
}

.props-editor h5 {
  margin: 0;
  padding: 0;
}

.props-editor {
  padding: 63px .5rem 1rem;
}

.props-editor__body{
  padding: 15px;
}

.props-editor-controls{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.props-editor-controls-item{
  font-family: monospace;
  flex-grow: 1;
}

::-webkit-input-placeholder {
  color:#ddd;
}

.props-editor-controls-divider{
  font-weight: bold;
  margin: 0 5px;
}

.props-editor__actions{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.props-editor__actions .button{
  margin: 0;
}

.box{
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

/* Buttons */

button{
  -webkit-appearance: button;
  cursor: pointer;
}

button:active{
  outline: none;
}

.button{
  display: inline-block;
  position: relative;
  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;
  user-select: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1), background-color .4s cubic-bezier(.25,.8,.25,1);
  letter-spacing: .01em;
}

.btn-primary{
  color: #0072f9;
}

.button:hover{
  background-color: rgba(158,158,158,0.2);
}

.button:active{
  background-color: rgba(68, 68, 68, 0.2);
  outline: none;
}

.raised-btn:not([disabled]){
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.raised-btn:not([disabled]):active{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
